.navbar-dark {
    background-color: #C97811;
}

#servicios .card {
    width: 21rem;
    height: 370px;
}

#servicios .card img {
    width: inherit;
    height: 250px;
    object-fit: cover;
}

.maquinaria-row {
    min-height:500px;
}

#beneficios {
    background-color: #FFB65A;
    padding-top: 50px;
    padding-bottom: 50px;
}

#beneficios .row-content {
    height: 300px;
}

#beneficios h3 {
    font-size: 45px;
}

#beneficios p {
    font-size: 23px;
    line-height: 200%;
}

#transporte .row-height {
    height: 900px;
    background-color: blue;
}

#transporte img {
    width: 100%;
    height: auto;
}

#redes-sociales .row-height {
    height: 70px;
    background-color: green;
}

footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

