.navbar-dark {
    background-color: #C97811;
}

#servicios .card {
    width: 21rem;
    height: 370px;
}

#servicios .card img {
    width: inherit;
    height: 250px;
    object-fit: cover;
}

.maquinaria-row {
    min-height:500px;
}

#beneficios {
    background-color: #FFB65A;
    padding-top: 50px;
    padding-bottom: 50px;
}

#beneficios .row-content {
    height: 300px;
}

