body {
    font-family:'Arial','Verdana','Monaco',sans-serif;
}

.logo {
    height: 35px;
}

header .navbar {
    background-color: transparent;
}

header {
    background: url();
    background-image: 
        linear-gradient(
        rgba(201, 120, 17, 0.7),
        rgba(0, 0, 0, 0.7)
        ),
        url("../images/fondo.jpeg");
    background-size: cover;
    min-height: 100vh;
    color: floralwhite;
}

#cabecera {
    height: calc(100vh - 56px);
}

@media screen and (max-width: 700px){
    #cabecera h1 {
        font-size: 2.5em;
    }
}

#cabecera .row {
    height: inherit;
}

#cabecera hr {
    border-color: floralwhite;
    border-top: 2px solid #ccc;
}

#servicios .card {
    width: 21rem;
    height: 370px;
}

#servicios .card img {
    width: inherit;
    height: 250px;
    object-fit: cover;
}

#maquinaria {
    padding-top: 100px;
    padding-bottom: 84px;
}

#maquinaria h2 {
    color: #F09D35;
}

.maquinaria-row {
    min-height:500px;
}

#beneficios {
    background-color: #FFB65A;
    padding-top: 70px;
    padding-bottom: 70px;
    color: white;
}

#beneficios h3 {
    font-size: 45px;
}

#beneficios p {
    font-size: 23px;
    line-height: 200%;
    margin-bottom: 0px;
}

#transporte {
    padding-top: 60px;
    padding-bottom: 71px;
}

#transporte h2 {
    color: #F09D35;
}

#transporte img {
    width: 100%;
    height: auto;
}

#contacto {
    padding: 40px 0 60px 0;
}

#contacto i {
    color: gray;
}

#contacto h2 {
    color: #F09D35;
}

#contacto iframe {
    top: 0;
    left: 0;
    width: 100% !important;
    height: 400px !important;

}

#redes-sociales {
    background-color: #FFC883;
    padding: 25px 0px 25px 0px;
}

#redes-sociales a {
    color: #A05A02;
}

footer {
    background-color: #A05A02;
    color: floralwhite;
    margin:0px auto;
    padding: 40px 0px 0px 0px;
    line-height: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

footer a {
    color: #FFC883;
}

footer a:hover, footer a:active {
    text-decoration: none;
    color: #FFC883;
}

footer hr {
    width: 60px; 
    border-color: #FFC883;
}

.color-box {
    padding-top: 16px;
    background-color: #FFC986;
}

